page-searchmodal {
    
    .bar-button-default{
        color:white;
    }
    
    .button-clear{
        color:gray;
    }
    .content{
        background-color: rgba(0, 0, 0, 0.56);
    }
    .text-input[disabled]{
        opacity:1;
    }
}
