page-modal {
    .cardd{
        border-width: 0px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 250px;
    }
    .tittle{
        font-size: 16px;
        font-family:helvetica;
    }
    .titlecard{
         
        color: rgba(193, 57, 216, 0.8);
    }
    .bar-button-default{
        color:white;
    }
    .pcard{
        text-align: justify;
        color: rgba(128, 128, 128, 0.84)
    }
    .button-clear{
        color:gray;
    }
    .content{
        background-color: rgba(0, 0, 0, 0.56);
    }
    .text-input[disabled]{
        opacity:1;
    }
}
