<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-title text-center>Timeline</ion-title>
    </ion-navbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="fondo">

  <ion-card *ngIf = "!logeado">
    <ion-item (click)="back()">
      <ion-avatar item-left >
        <img src="assets/img/logo.png">
      </ion-avatar>
      <ion-card-content>
        <h2>Invitado</h2>
        <p><a>¿Quieres publicar algo?</a></p> 
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf = "logeado">
    <ion-item (click)="publicar()">
      <ion-avatar item-left  *ngIf="dates.photo">
        <img src="{{dates.photo}}">
      </ion-avatar>
      <h2 *ngIf="nombre">{{nombre}}</h2>
      <p *ngIf="correo"><a>Publiquemos algo!</a></p> 
    </ion-item>
  </ion-card>

  <!--lista de los posts traidos desde firebase-->
  <!--<ion-card *ngFor="let post of posts" hidden>

    <ion-item >
      <ion-avatar item-left (click)="goToProfile(post.id)">
        <img src="{{ post.autorimg }}">
      </ion-avatar>
      <h2 (click)="goToProfile(post.id)">{{ post.autor }}</h2>
      <p>{{post.published}}</p>
    </ion-item>

    <div class="cardd" (click)="presentModal(post.id)">
      <img src="{{ post.img }}" *ngIf = "post.img">
      <ion-fab>
        <button ion-fab>
          <ion-icon name="heart-outline"></ion-icon>
        </button>
      </ion-fab>
    </div>
      
    <ion-row>

      <ion-col col-12>

       <h2 class="titlecard" (click)="presentModal(post.id)">{{ post.title }}</h2>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-4>
        <button ion-button icon-left clear small (click)="likePost(post.id)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ post.likes }} Likes</div>
        </button>
      </ion-col>

      <ion-col col-4 text-center>
        <button style="padding:0px;" ion-button icon-left clear small (click)="presentModal(post.id)">
          <ion-icon name="text"></ion-icon>
          <div>3 Comments</div>
        </button>
      </ion-col>

      <ion-col  col-4 text-right>
        <button style="padding:0;" ion-button icon-left clear small (click)="presentPopover($event)">
          <ion-icon name="md-share"></ion-icon>
          <div>Share</div>
        </button>
      </ion-col>
      
      <ion-col (click)="presentModal(post.id)">
        <h2 class="titlecard">{{ post.title }}</h2>
      </ion-col>

      <ion-col center text-center>
        <ion-note>
          <ion-label style="margin: 10px 8px 10px 0;">11h ago</ion-label>
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>-->

  <ion-card *ngFor="let post of posts || async">

    <ion-item>
      <ion-avatar item-left>
        <img src="{{dates.photo}}">
      </ion-avatar>
        <h2 *ngIf="nombre">{{nombre}}</h2>
        <p *ngIf="correo"><a>Publicado hace 2 horas.</a></p> 
    </ion-item>
    
      <div class="cardd" (click)="presentModal(post.id)">
        <img src="{{ post.picture }}" *ngIf = "post.picture">
      </div>
      
    <ion-row>

      <ion-col col-12>

        <h2 class="titlecard" (click)="presentModal(post.id)">{{ post.title }}</h2>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-4>
        <button ion-button icon-left clear small (click)="likePost(post.id)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ post.likes }} Likes</div>
        </button>
      </ion-col>

      <ion-col col-4 text-center>
        <button style="padding:0px;" ion-button icon-left clear small (click)="presentModal(post.id)">
          <ion-icon name="text"></ion-icon>
          <div>3 Comments</div>
        </button>
      </ion-col>

      <ion-col  col-4 text-right>
        <button style="padding:0;" ion-button icon-left clear small (click)="presentPopover($event)">
          <ion-icon name="md-share"></ion-icon>
          <div>Share</div>
        </button>
      </ion-col>
      
      <!--<ion-col (click)="presentModal(post.id)">
        <h2 class="titlecard">{{ post.title }}</h2>
      </ion-col>

      <ion-col center text-center>
        <ion-note>
          <ion-label style="margin: 10px 8px 10px 0;">11h ago</ion-label>
        </ion-note>
      </ion-col>-->
    </ion-row>
      
  </ion-card>

</ion-content>
