<ion-content >
	<ion-grid>
			<ion-row>
				<ion-col col-12>
					<ion-card>

						<ion-item>
							<ion-avatar item-left  *ngIf="dates.photo" (click)="dismiss()">
								<img src="{{dates.photo}}">
							</ion-avatar>
								<h2 *ngIf="nombre">{{nombre}}</h2>
								<p><a>What are you going to publish today?</a></p> 
						</ion-item>

						<ion-thumbnail (click)="presentActionSheet();">
							<img src="assets/img/screen.png" >
						</ion-thumbnail>

						<ion-list>

							<ion-item>
								<ion-label fixed>Tittle</ion-label>
								<ion-input type="text" [(ngModel)]="post.title"></ion-input>
							</ion-item>

							<ion-item>
								<ion-label fixed>Description</ion-label>
								<ion-textarea  [(ngModel)]="post.text"></ion-textarea>
							</ion-item>

						</ion-list>

						<ion-item>
							<button ion-button round full style="background:#ff1664;" (click)="addPost()">Public!</button>
						</ion-item>

					</ion-card>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-content>
