<ion-content >
	<ion-grid>
			<ion-row>
				<ion-col col-12>
					<ion-card>

						<ion-item>
							<ion-avatar item-left  *ngIf="dates.photo" (click)="dismiss()">
								<img src="{{dates.photo}}">
							</ion-avatar>
								<h2 *ngIf="nombre">{{nombre}}</h2>
								<p><a>What are you going to publish today?</a></p> 
						</ion-item>

						<form #f="ngForm" (ngSubmit)="envioDatos(f)">

							<ion-list>

								<ion-item>
									<ion-label floating >Nombre</ion-label>
									<ion-input type="text" name="title" ngModel #title = "ngModel"></ion-input>
								</ion-item>
								
								<ion-item>
									<ion-label floating >Precio</ion-label>
									<ion-input type="text" name="text" ngModel #text = "ngModel"></ion-input>
								</ion-item>

								<!--<ion-item>
									<ion-label fixed>Tittle</ion-label>
									<ion-input type="text" [(ngModel)]="post.title"></ion-input>
								</ion-item>
								
								<ion-thumbnail (click)="presentActionSheet();">
									<img src="assets/img/screen.png" >
								</ion-thumbnail>
								
								<ion-item>
									<ion-label fixed>Description</ion-label>
									<ion-textarea  [(ngModel)]="post.text"></ion-textarea>
								</ion-item>-->
								<ion-item>
									<!--<button ion-button round full style="background:#ff1664;" (click)="addPost()">PUBLICAR</button>-->
									<button ion-button round full color="danger" >PUBLICAR</button>
								</ion-item>

							</ion-list>

						</form>

					</ion-card>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-content>
