page-search {
    .fondo{
        background: rgba(0,0,0,1);
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 7%, rgba(102,102,102,1) 99%, rgba(76,76,76,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(28,28,28,1)), color-stop(0%, rgba(43,43,43,1)), color-stop(0%, rgba(17,17,17,1)), color-stop(7%, rgba(19,19,19,1)), color-stop(99%, rgba(102,102,102,1)), color-stop(100%, rgba(76,76,76,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 7%, rgba(102,102,102,1) 99%, rgba(76,76,76,1) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 7%, rgba(102,102,102,1) 99%, rgba(76,76,76,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 7%, rgba(102,102,102,1) 99%, rgba(76,76,76,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 7%, rgba(102,102,102,1) 99%, rgba(76,76,76,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c', GradientType=0 );
    }
    .toolbar-title{
        text-align: center;
        padding-left: 0px;
        padding-right: 45px;
        color:white;
    }
    
    .toolbar-background{
        background: #1c252c;
    }
}
